*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  font-family: $main-font;
  font-weight: lighter;
  font-size: $body-font-size;
  color: #222222;
}

h1, h2, h3, h4, h5, h6 {
  margin: $margin 0;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}